html, body {
    height:100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 550px;
}

.btn {
    margin: 13px;
}

#toast-container {
    top: 25% !important;
    right: 2% !important;
    bottom: 10%;
    left:80% !important;
}
